/* FONTES */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: 'idroid';
    src: url(fontes/idroid.otf) format(opentype);
}

/* GERAL */
body {
    background-color: #EBE5C5;
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
    margin: 0;
    font-size: 1.2em;
}

a {
    color: #256441;
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    text-decoration: underline;
    background-color: rgba(116, 197, 170, 0.712);
    border-radius: 5px;
    padding: 0.5px;
}
a::after {
    content: ' 🔗';
}

h2, h3 {
    font-family: 'idroid', serif;
    font-weight: normal;
    color: #256441;
    text-align: left;
    margin-top: 0;
}

strong {
    color: #256441;
}

/* CABEÇALHO */
header {
    background-image: linear-gradient(180deg, #2FA766, #063C1E);
    color: white;
    height: 250px;
    padding: 1px;
    box-shadow: 1px 1px 15px #6d6b5c96;
}
header > h1 {
    font: normal 3em 'Bebas Neue', 'Arial Narrow Bold', sans-serif;
    text-align: center;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.541);
}
header > p {
    text-align: center;
    margin: auto;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.541);
}

nav > ul > li {
    display: inline-block;
    margin-right: 25px;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.541);
    cursor: pointer;
    border-radius: 10px;
    padding: 5px;
}
nav > ul > li:hover {
    text-decoration: underline;
    background-color: #195734;
    color: #2FA866;
    box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.541);
}

/* CONTEÚDO PRINCIPAL */
main {
    max-width: 900px;
    background-color: white;
    margin: auto;
    padding: 20px;
    border-radius: 0px 0px 10px 10px;
    margin-bottom: 15px;
    text-align: center;
    box-shadow: 1px 1px 15px #6d6b5c96;
}
main > p {
    text-align: justify;
    text-indent: 25px;
}
main > h3 {
    background-image: linear-gradient(90deg, #C4EBD5, white);
    padding: 3px;
}

section {
    max-width: 800px;
    margin: auto;
    padding: 5px;
    background-color: #1A5C38;
    text-align: center;
    box-shadow: inset 2px 2px 15px #0000008c;
}

/* ASIDE */
aside {
    background-color: #C5EBD6;
    border-radius: 0px 0px 10px 10px;
    padding: 10px;
    text-align: justify;
    box-shadow: 1px 1px 15px #1957348c;
}
aside > p {
    text-indent: 25px;
}
div {
    display: inline-block;
    margin-left: 0;
}

#especial {
    background-image: none;
    background-color: #2FA866;
    color: white;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 0px;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 1px 1px 15px #1957348c;
    font: normal 1.2em 'Roboto Slab', 'Times New Roman', Times, serif;
}

/* RODAPÉ */
footer {
    background-color: #1A5C38;
    color: white;
    text-align: center;
    padding: 7px;
    font-size: 0.8em;
}