@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/*  CONFIGURAÇÕES GERAIS  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cortexto:  #d6d6d6;
    --textescuro: #838383;
    --claro: #3c3c3c;
    --medio: #1f1f1f;
    --escuro: #141414;

    --fonte-padrao: 'Source Sans Pro', Arial, Helvetica, sans-serif;
    --fonte-titulo: 'Bebas Neue', cursive;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-image: linear-gradient(145deg, var(--escuro) 75%, #a72a07, #1c81ce);
    background-attachment: fixed;

    font-family: var(--fonte-padrao);

    height: 100vh;
}

h1, h2 {
    font-family: var(--fonte-titulo);
    font-weight: 400;
    transition-duration: .1s;
}

p {
    line-height: 1.5em;
}

hr {
    margin: 15px;
    border: 1px solid var(--claro);
}


/*  CABEÇALHO  */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--escuro);
    color: var(--textescuro);

    height: 100px;
    padding: 25px;
    border-bottom: 1px solid var(--claro);
}

.ling {
    color: var(--cortexto);
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}
#html {
    background-color: #F16524;
    border: 1px solid #E54C21;
}
#css {
    background-color: #1C88C7;
    border: 1px solid #1A73B9;
}

.links > a {
    display: inline-block;
    color: var(--claro);

    font-size: 3.5em;

    margin: 0 7px 0 7px;
    transition-duration: .1s;
}
.links > a:hover {
    color: var(--textescuro);
}


/*  CONTEÚDO  */
main {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    color: var(--cortexto);
    text-align: center;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    min-width: 500px;
    max-width: 700px;
    height: 500px;
    margin: auto;
}

section {
    background-color: var(--medio);
    padding: 20px;
    margin: auto;
    border-radius: 10px;
    border: 1px solid var(--claro);
}

p > a {
    color: var(--textescuro);
    font-weight: bold;
    text-decoration: none;
}
p > a:hover {
    text-decoration: underline;
}

h2 {
    font-size: 1.75em;
}


/*  ACESSO  */
#acesso {
    display: flex;
    justify-content: space-around;
}

div {
    margin: 0 20px;
}
div > a {
    display: inline-block;
    color: var(--cortexto);

    font-size: 2em;

    padding: 7px 15px 5px 15px;
    margin: 0 7px 0 7px;
    border-radius: 10px;
    transition-duration: .1s;
}
div > a:hover {
    color: var(--textescuro);
}

.exer {
    background-color: #4450E0;
    border: 1px solid #4450E0;
}
.def {
    background-color: #E04343;
    border: 1px solid #E04343;
}


/*  PERFIL  */
aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--medio);

    font-size: 0.75em;

    max-width: 500px;
    padding: 20px;
    margin-left: 25px;
    border-radius: 10px;
    border: 1px solid var(--claro);
}

aside > hr {
    width: 200px;
}

img {
    width: 250px;
    border-radius: 7px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}

/*  RODAPÉ  */
footer {
    background-color: var(--escuro);
    color: var(--textescuro);

    font-size: 1.25em;
    font-weight: bold;

    min-height: 50px;
    padding: 10px 0 10px 50px;
    border-top: 1px solid var(--claro);
}


/*  RESPONSIVIDADE  */
@media(max-width:900px) 
{
    h1 {
        font-size: 1em;
    }
    .links > a {
        font-size: 2em;
        margin: 0 3px;
    }

    main {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: auto;
    }

    article {
        min-width: 0;
        max-width: 400px;
        margin-bottom: 50px;
    }

    section {
        max-width: 300px;
        margin: 0;
        margin: 5px 0;
    }

    div > a {
        width: 75px;
        margin: 5px 0;
    }

    aside {
       margin-left: 0;
       margin: 5px 0;
    }

}