body {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#content {
    background-color: rgba(190, 241, 241, 0.63);
    padding: 10px;
    width: 800px;
    text-align: left;
    margin: auto;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.479);
}

#acess {
    width: 450px;
    padding: 15px;
}

img {
    float: left;
}

.box {
    text-align: justify;
    background-color: azure;
    border-radius: 20px;
    padding: 10px;
}

#vsc {
    float: right;
}