@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
body {
    text-align: center;
    font: 18px 'Source Sans Pro', Arial, Helvetica, sans-serif
}
h1, h2 {
    font-family: 'Roboto Slab', 'Times New Roman', Times, serif;
}
#content {
    background-color: rgba(190, 241, 241, 0.63);
    padding: 10px;
    width: 800px;
    text-align: left;
    margin: auto;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.479);
}

#acess {
    width: 450px;
    padding: 15px;
}

img {
    float: left;
}

.box {
    text-align: justify;
    background-color: azure;
    border-radius: 20px;
    padding: 10px;
}

#vsc {
    float: right;
}