@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap');



/*  CONFIGURAÇÕES GLOBAIS  */
* {
    margin: 0;
    padding: 0;
}

:root {
    --corA1: #E04343;
    --corA2: #AB1D13;
    --corA3: #702222;

    --fonte-padrao: 'Source Sans Pro', Arial, Helvetica, sans-serif;
    --fonte-titulo: 'Roboto Slab', Times, serif;
}

body {
    font-family: var(--fonte-padrao);
}

h2 {
    font-family: var(--fonte-titulo);
}

/*  CABEÇALHO  */
header {
    display: flex;
    align-items: center;
    background-color: rgb(30, 30, 30);

    height: 75px;
}

header p {
    margin: 0 30px;
    color: whitesmoke;
}

h1 {
    color: aqua;
    font-family: 'Rowdies', cursive;
    font-weight: 300;
    margin: 0 0 0 10vw;
    cursor: pointer;
}

nav {
    background-image: linear-gradient(90deg, var(--corA2), rgb(30,30,30));
    padding: 10px;
    border-bottom: 2px solid black
}
nav ul {
    list-style-type: none;
}
nav li {
    display: block;
    background-color: rgb(60, 60, 60);
    padding: 5px;
    margin: 10px 5px;
    border-radius: 3px 3px 0 0;
    border: 1px solid transparent;

    transition: ease-in-out .2s;
}
nav li:hover {
    cursor: pointer;
    border: 1px solid black;
}
nav a {
    margin: 0 3vw;
    color: aliceblue;
    text-decoration: none;
}

menu {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

#menuzin {
    background-color: rgb(30, 30, 30);
    color: whitesmoke;
    display: block;
    padding: 10px;

    text-align: center;
    border-radius: 5px;
    transition-duration: .2s;
}
#menuzin:hover {
    cursor: pointer;
    background-color: whitesmoke;
    color: rgb(30, 30, 30);
}

/*  CONTEÚDO  */
main {
    background: url(../wallpaper.jpg) center center no-repeat scroll;
    background-size: cover;
    padding: 15px;
}

article {
    background-color: aliceblue;
    max-width: 700px;
    padding: 15px;
    margin: auto;
    border-radius: 10px;
}

h2 {
    margin-left: 3vw;
}

section {
    margin: 10px 0;
}


/*  PLATAFORMAS  */
#plat {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 5px;
}

.img_plat {
    background-size: cover;
    background-position: center center;
    color: gray;
    border-radius: 7px;
    padding: 35px;
    transition-duration: .3s;
    width: 70px; 
    height: 70px; 
    white-space: nowrap;  /* evitar que o texto quebre de linha */
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.img_plat:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.258);
    color: white;
    transform: scale(1.05);
    font-weight: bold;
}
#ps5 {
    background-image: url(https://gmedia.playstation.com/is/image/SIEPDC/dualsense-controller-product-thumbnail-01-en-14sep21?$facebook$);
}
#xone {
    background-image: url(https://images.kabum.com.br/produtos/fotos/sync_mirakl/434250/Controle-Microsoft-Wireless-Para-Xbox-One-X-Series-Preto_1677845915_gg.jpg);
}
#switch {
    background-image: url(https://static-www.o2.co.uk/sites/default/files/nintendo-switch-blue-red-sku-header-050521.png);
}
#pc {
    background-image: url(https://shopinfo.vteximg.com.br/arquivos/ids/1383167-1000-1000/1.png?v=638168155569200000);
}


/*  NOTÍCIAS  */
section > p {
    padding: 10px;
    text-align: justify;
}

div p {
    opacity: 0.75;
}

.noticias {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid rgba(0, 0, 0, 0.349);
    border-radius: 5px;
    transition-duration: .2s;
}

.noticias:hover {
    cursor: pointer;
    border: 1px solid whitesmoke;
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.25);
}

/*  RODAPÉ  */
footer {
    background-color: rgb(30, 30, 30);
    color: var(--corA1);

    text-align: center;

    padding: 10px;
}
footer span {
    background-image: linear-gradient(180deg, white, darkgray);
    
    /* Apagar do fundo tudo que não estiver imediatamente atrás de texto */
    background-clip: text;
    -webkit-background-clip: text; /* Alguns navegadores precisam do prefixo */
  
    /* Apagar o texto, deixando apenas o fundo atrás dele */
    -webkit-text-fill-color: transparent;
  
    /* Cor que contraste com o degradê, caso o navegador não suporte `background-clip: text` */
    color: black;
    font-weight: bold;
    
}
footer a {
    color: var(--corA1);
    text-decoration: none;
    font-weight: bold;
    transition-duration: .25s;
}
footer a:hover {
    text-decoration: underline;
}
footer li {
    display: inline-block;
    padding: 0 25px 0 25px;
}