body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    background-image: linear-gradient(90deg, #0000D9, #000099, #00008B, #000073, #00004D);
    color: aliceblue;
    font-size: 15px;
}

hr {
    border: 1px solid;
    border-color: rgba(80, 80, 80, 0.555);
}

.listas {
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.493);
    margin-top: 15px;
    margin-bottom: 15px;
}

#content {
    background-color: #789ff3;
    text-align: justify;
    color: black;
    border-radius: 10px;
    padding: 17px;
    margin: auto;
    width: 625px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.493);
}

#obs {
    background-color:darkslategray;
    color: aliceblue;
    padding: 5px;
    border-radius: 10px;
    font-size: 12.9px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.493);
    text-align: center;
}

#basic {
    background-color: #e0e0e0;
}

#design {
    background-image: linear-gradient(90deg, red, orange, green, aqua, blue, purple, crimson);
}