@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
body {
    background-attachment: fixed;
    font: 18px 'Source Sans Pro', Arial, Helvetica, sans-serif;
    text-align: center;
    background-image: linear-gradient(180deg, #0000D9, #000099, #00008B, #000073, #00004D);
    color: aliceblue;
}

h1, h2 {
    font-family: 'Roboto Slab', 'Times New Roman', Times, serif;
}

a {
    color: #0000D9;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;

}

hr {
    border: 1px solid;
    border-color: rgba(80, 80, 80, 0.555);
}

.listas {
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(128, 120, 111, 0.63);
    margin-top: 15px;
    margin-bottom: 15px;
}
.listas > ul {
    display: none;
}
.listas:hover > ul {
    display: grid;
}

#content {
    background-color: bisque;
    text-align: justify;
    color: black;
    border-radius: 10px;
    padding: 17px;
    margin: auto;
    width: 625px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.493);
}

#obs {
    background-color:darkslategray;
    color: aliceblue;
    padding: 5px;
    border-radius: 10px;
    font-size: 15px;
    box-shadow: 5px 5px 15px rgba(128, 120, 111, 0.63);
    text-align: center;
}

#basic {
    background-color: #e0e0e0;
    border: 1px solid black;
}

#design {
    background-image: linear-gradient(90deg, red, orange, green, aqua, blue, purple, crimson);
    border: 1px solid black;
}